<!DOCTYPE html>
<html>
  <head>
    <title>Grocery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
 </head>

  <body>
  <% if current_user %>
  <img class="avatar" src="<%= current_user.gravatar_url %>">
  <ul>
    <li><%= current_user.email %></li>
    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "Login", 'login' %></a></li>
    <li><%= link_to "Signup", 'signup' %></a></li>
  </ul>
<% end %>
    <%= yield %>
  </body>
</html>
